* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
    text-align: left;
}

td.quantity,
th.quantity {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
    text-align: left;
}

td.price,
th.price {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
    text-align: right;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 210px;
    max-width: 210px;
}

img {
    max-width: 50%;
    width: 50%;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
